* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

td {
  vertical-align: top;
}

.lyric-input {
  line-height: 1.5;
  /* word-spacing: 3.4px; */
}

.lyric-board {
  line-height: 1;
  /* word-spacing: 2.2px; */
}

.gen-form input {
  line-height: 1.5;
  word-spacing: 3.3px;
}

.lyric-genBtn {
  display: table;
  padding: 15px;
  margin: auto;
}

.detected-chords {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
}

.transposed-chords {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
}

.transposer {
  background-color: aquamarine;
  padding-bottom: 10px;
}

.transposer .transpose-btn {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.chord-item {
  width: 130px;
}

.chord {
  display: inline-block;
  background-color: brown;
  color: white;
  padding: 2px;
}

.lyric-line {
  margin: 10px 0 5px 0;
  white-space: pre-wrap;
}

.chord-line {
  background-color: antiquewhite;
}

.gui-form input {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.062) 0px 1px 3px -1px;
  border-radius: 5px;
  padding: 10px;
}

.user-profile {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.board-listing--grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media screen and (max-width : 768px) {
  .board-listing--grid {
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(5, 230px);
  }
}

/* MUI - overwrite */
/* .MuiOutlinedInput-notchedOutline */
.MuiInputLabel-root {
  color: #aaaaaa !important;
  font-size: 16px;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #ffa726 !important;
}

.MuiButtonBase-root:hover {
  background-color: #f57c00 !important;
}