* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

.lyric-input {
  line-height:1.5;
  /* word-spacing: 3.4px; */
}

.lyric-board {
  line-height: 1;
  /* word-spacing: 2.2px; */
}

.gen-form input {
  line-height:1.5;
  word-spacing: 3.3px;
}

.lyric-genBtn {
  display: table;
  padding: 15px;
  margin: auto;
}

.detected-chords {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
}

.transposed-chords {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
}

.transposer {
  background-color: aquamarine;
  padding-bottom: 10px;
}

.transposer .transpose-btn {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.chord-item {
  width: 100px;
}

.chord {
  display: inline-block;
  background-color: brown;
  color: white;
  padding: 2px;
}

.lyric-line {
  margin : 10px 0 5px 0;
}

.chord-line {
  background-color: antiquewhite;
}